@model IEnumerable<GearBatOn.Models.Category>

@{
    ViewBag.Title = "Quản lý danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý danh mục</h2>
<p>
    @Html.ActionLink("Thêm danh mục", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">Mã</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Sửa/Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Xóa danh mục", "Delete", new { id = item.Id }, new { onclick = "return confirm('Bạn có chắc muốn xóa không?');", @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

