@model GearBatOn.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CategoryId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryId)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CountryId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CountryId)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BrandId)</dt>
        <dd class="col-sm-9">@@Html.DisplayFor(model => model.BrandId)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.WarrantyPeriod)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.WarrantyPeriod)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.InventoryAmount)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.InventoryAmount)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ImagePath)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ImagePath)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", routeValues: null, htmlAttributes: new { id = Model.Id, @class = "btn btn-primary", type = "button" })
    @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", type = "button" })
</p>
