@model IEnumerable<GearBatOn.Models.Product>

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CategoryId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CountryId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.BrandId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.WarrantyPeriod)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.InventoryAmount)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ImagePath)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
            <th scope="col">Sửa/Chi tiết/Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<th scope="row">1</th>*@
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
                <td>@Html.DisplayFor(modelItem => item.CountryId)</td>
                <td>@Html.DisplayFor(modelItem => item.BrandId)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.WarrantyPeriod)</td>
                <td>@Html.DisplayFor(modelItem => item.InventoryAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.ImagePath)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Raw(ViewBag.Paging)
